<udebs>

<config>
    <name>connectfour</name>
    <immutable>True</immutable>
    <logging>False</logging>
    <revert>10000</revert>
</config>

<map>
    <dim>
        <x>5</x>
        <y>5</y>
    </dim>
</map>

<definitions>
    <stats>
        <ACT />
    </stats>
    <strings>
        <token />
    </strings>
</definitions>

<entities>
    <player />

    <xPlayer immutable="False">
        <group>player</group>
        <ACT>2</ACT>
        <token>x</token>
    </xPlayer>

    <oPlayer immutable="False">
        <group>player</group>
        <ACT>1</ACT>
        <token>o</token>
    </oPlayer>

    <x />
    <o />

    <!-- Forces turn order -->
    <turn>
        <require>$caster.STAT.ACT &gt;= 2</require>
        <effect>
            <i>$caster ACT -= 2</i>
            <i>ALL.player ACT += 1</i>
        </effect>
    </turn>

    <!-- Checks for winner -->
    <win>
        <require>
            <i>score = (ENDSTATE $caster.MAP $caster.NAME $caster.LOC)</i>
            <i>$score != None</i>
        </require>
        <effect>EXIT $score</effect>
    </win>

    <checkwin>
        <effect>$target.LOC ACTION win</effect>
    </checkwin>

    <!-- Connect 4 move option -->
    <drop>
        <group>
            <i>turn</i>
            <i>checkwin</i>
        </group>
        <require>
            <i>x = $target.XLOC</i>
            <i>map = $target.MAPNAME</i>
            <i>($x 0 $map).NAME == empty</i>
        </require>
        <effect>
            <i>target = ($x (BOTTOM $target.MAP $x) $map)</i>
            <i>$caster.STAT.token RECRUIT $target</i>
        </effect>
    </drop>

    <!-- Tic Tac Toe move option -->
    <placement>
        <group>
            <i>turn</i>
            <i>checkwin</i>
        </group>
        <require>$target.NAME == empty</require>
        <effect>$caster.STAT.token RECRUIT $target</effect>
    </placement>

    <!-- Computer AI -->
    <ai>
        <require>
            <i>loc = (COMPUTER $caster.NAME)</i>
            <i>$caster CAST $loc $target</i>
        </require>
    </ai>

    <!-- board control scripts -->
    <reset>
        <effect>
            <i>empty MOVE (FILL (0 0))</i>
            <i>xPlayer ACT REPLACE 2</i>
            <i>oPlayer ACT REPLACE 1</i>
        </effect>
    </reset>

</entities>
</udebs>
