body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  border: 1px solid #999;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
}

.header {
  border: 1px solid #999;
  display: flex;
    flex-direction: row;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: row;
}

.sitename {
    display: flex;
    padding: 15px;
    text-align: center;
}

.sidebar {
    border-left: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0 15px;
    margin: 0;
}

.sidebar li {
  font-size: 12px;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: row;
}

.game-body {
  text-align: center;
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game-button {
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 15px;
  height: 34px;
  margin: 5px 2.5px;
  padding: 0;
  width: 25%;
}

.game-info {
    margin: 0 15px;
}

.results-data {
  margin-left: 50px;
  text-align: left;
}

.o {
  background: #d64161;
}

.x {
  background: #303030;
}

.lose {
  background: #d2222d;
}

.win {
  background: #007000;
}

.tie {
  background: #ffbf00;
}


